// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,900");
@import "partials/fonts";

// Partials
@import "partials/libs";
@import "partials/vars";
@import "partials/animation";

// Blocks
@import "blocks/card";
@import "blocks/info";

/* ==========================================================================
  General Styles
========================================================================== */
@import "partials/null";
html {
	background: #bdc3c7;
}
:root {
	--primary: #2175f5;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

  @media (max-width: 600px) {
	  padding: 15px;
  }
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}

.page {
	flex: 1 1 auto;
}