.tooltip {
	position: relative;
	color: #936cc1;

	&:hover .tooltip__text {
		visibility: visible;
		opacity: 1;
	}

	&__text {
		position: absolute;
		z-index: 10;
		white-space: nowrap;
		padding: 5px 8px;
		background: #353b48;
		color: #fff;
		border-radius: 7px;
		visibility: hidden;

		&--right {
			top: 50%;
			left: 100%;
			margin-left: 5px;
			transform: translateY(-50%);

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				right: 100%;
				border-right: 5px solid #353b48;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				transform: translateY(-50%);
			}
		}

		&--left {
			top: 50%;
			right: 100%;
			margin-right: 5px;
			transform: translateY(-50%);

			&::after {
				content: "";
				top: 50%;
				left: 100%;
				border-left: 5px solid #353b48;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				transform: translateY(-50%);
			}
		}

		&--top {
			left: 50%;
			bottom: 100%;
			margin-bottom: 5px;
			transform: translateX(-50%);

			&::after {
				content: "";
				position: absolute;
				top: 100%;
				left: 50%;
				border-top: 5px solid #353b48;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				transform: translateX(-50%);
			}
		}

		&--bottom {
			left: 50%;
			top: 100%;
			margin-top: 5px;
			transform: translateX(-50%);

			&::after {
				content: "";
				position: absolute;
				bottom: 100%;
				left: 50%;
				border-bottom: 5px solid #353b48;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				transform: translateX(-50%);
			}
		}
	}
 }
